*{
  margin: 0;
  padding: 0;
  user-select: none; // 禁止用户选中文本
  text-decoration: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  appearance: none;
}

html,body {
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 45px;
  display: flex;
  span {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    background: red;
    color:#fff;
  }
}